@import '../../../../../libs/ui/src/lib/variables';

.mindsync-default-container {
  height: 100%;
}

.carousel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  //justify-content: space-between;
  //max-width: 100%;
}

.slick-slider {
  width: 90%;
}

.shared-cards {
  display: flex;
  align-items: center;
  //width: 50%;
  gap: 40px;
}

::ng-deep .slick-prev:before,
::ng-deep .slick-next:before {
  color: $dark-brown;
  opacity: 1;
  font-size: 44px;
  // z-index: 1;
}

.slick-slide {
  display: flex;
  flex-direction: column;
}
