@import '../../../../../libs/ui/src/lib/variables';
/*
.mindsync-default-container {
  height: 100%;
}

.carousel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slick-slider {
  width: 90%;
}

.shared-cards {
  display: flex;
  align-items: center;
  gap: 40px;
}

::ng-deep .slick-prev:before,
::ng-deep .slick-next:before {
  color: $dark-brown;
  opacity: 1;
  font-size: 44px;
}

.slick-slide {
  display: flex;
  flex-direction: column;
}*/
