<div *ngIf="!webSocketService.currentSlideId" class="mindsync-default-container">
    <div class="mindsync-default-content-container">
        <div class="mindsync-default-content-heading">Waiting...</div>
        <div class="mindsync-default-content-data usersync-start-content-data">
            <mat-spinner></mat-spinner>
            <h2>Wait till Presenter starts the show</h2>
        </div>
    </div>
</div>
<div *ngIf="webSocketService.currentSlideId" class="mindsync-default-container">
    <div class="mindsync-default-content-container">
        <div class="mindsync-default-content-heading">{{presentation.title}}</div>
        <div class="mindsync-default-content-data usersync-start-content-data-presentation">
            <div *ngFor="let slide of listOfSlides$ | async as slides; let i = index">
                <ng-container *ngIf="i===currentSlideIndex">
                    <div *ngIf="isCountdownEnded">
                        <mat-spinner></mat-spinner>
                    </div>
                    <ng-container *ngIf="!isCountdownEnded">
                        <project-slide [data]="slides[i]" [actionsShowed]="false" [checkboxShowed]="'enabled-checkbox'"
                            [timerShowed]="true" [timerOnDemand]="false" (countdownEnded)="handleCountdownEnded()"
                            (userSelectedOptionsEmitter)="handleUserSelectedOptions($event)"></project-slide>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>