<div *ngIf="(webSocketService.startButtonPushed | async) === false" class="mindsync-default-container">
    <div class="mindsync-default-content-container">
        <div class="mindsync-default-content-heading">Waiting...</div>
        <div class="mindsync-default-content-data usersync-start-content-data">
            <mat-spinner></mat-spinner>
            <h2>Wait till Presenter starts the show</h2>
        </div>
    </div>
</div>
<div *ngIf="webSocketService.startButtonPushed | async" class="mindsync-default-container">
    <div class="mindsync-default-content-container">
        <div class="mindsync-default-content-heading">{{quiz.title}}</div>
        <div class="mindsync-default-content-data usersync-start-content-data-quiz">
            <div *ngFor="let slide of listOfSlides; let i = index">
                <ng-container *ngIf="i===(webSocketService.currentSlideId | async); ngIfChange: stopSpinner">
                    <!--   <ng-container *ngIf="isCountdownEnded | async">
                        <mat-spinner></mat-spinner>
                    </ng-container>
                    <ng-container *ngIf="(isCountdownEnded | async) === false"> -->
                    <ng-container [ngSwitch]="listOfSlides[i].type">
                        <ng-container *ngSwitchCase="'WORD_CLOUD'">
                            <div class="mindsync-default-container user-sync-single-slide-container">
                                <div class="mindsync-default-content-container">
                                    <div class="mindsync-default-content-heading"> {{ listOfSlides[i].title }}
                                    </div>
                                    <div class="mindsync-secondary-default-content-data answer-content-data">
                                        Type your answer:
                                        <input type="text" class="mindsync-input default-input" placeholder="Answer"
                                            [(ngModel)]="userAnswer">
                                        <button class="mindsync-btn mindsync-btn-primary" (click)="sendUserAnswer()">Add
                                            answer</button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <project-slide *ngSwitchDefault [data]="listOfSlides[i]" [actionsShowed]="false"
                            [checkboxShowed]="'enabled-checkbox'" [timerShowed]="true" [timerOnDemand]="false"
                            (countdownEnded)="handleCountdownEnded()"></project-slide>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>