<div class="mindsync-default-container">
    <div class="mindsync-default-content-container main-quiz-container">
        <div class="mindsync-default-content-heading">
            {{ quiz.title }}
        </div>
        <div class="mindsync-default-content-data">
            <div class="container-navigation">
                <div class="container-details">
                    <div class="details-section">
                        <p>Code: </p>
                        <p>{{ quiz.code }}</p>
                    </div>
                    <div class="details-section">
                        <p>Created At: </p>
                        <p>{{ StringFormatter.getDateFromISOString(quiz.createdAt ?? '') }}</p>
                    </div>
                </div>
                <div class="buttons-container">
                    <button class="mindsync-btn mindsync-btn-secondary" (click)="getShowsButton()">Shows</button>
                    <button class="mindsync-btn mindsync-btn-secondary" (click)="openDeleteQuizPopup()">Delete</button>
                    <button class="mindsync-btn mindsync-btn-primary" (click)="startShow()">Start show</button>
                    <button class="mindsync-btn mindsync-btn-primary" (click)="openAddSlidePopup()">Add slide</button>
                </div>
            </div>
            <div class="carousel-main-container">
                <ng-container *ngIf="(listOfSlides$ | async) as slides">
                    <ng-container *ngIf="slides.length > 0; else noSlides">
                        <project-shared-carousel [slideConfig]="slideConfig" [data]="slides"
                            [slideType]="'Slide'"></project-shared-carousel>
                    </ng-container>
                    <ng-template #noSlides>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <img src="libs/ui/src/assets/images/no-results.png" [width]="100">
                            <br>
                            <h1>No slides found.</h1>
                            <br>
                            <h3>Add your first slide by 'Add slide' button</h3>
                        </div>
                    </ng-template>
                </ng-container>
            </div>
        </div>
    </div>
</div>