.buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-right: 10px;
}

.mindsync-default-container {
    margin: 0;
    padding: 10px;
    overflow-y: auto;
    height: 100%;
  }
