<div class="mindsync-default-container">
    <div class="mindsync-default-content-container main-presentation-container">
        <div class="mindsync-default-content-heading">
            Presentation: {{ presentation.title }}
        </div>
        <div class="mindsync-default-content-data">
            <div class="carousel-main-container">
                <div *ngFor="let slide of listOfSlides; let i = index" #wordcloudSlide>
                    <ng-container *ngIf="i===currentSlideIndex">
                        <project-slide *ngIf="!answersShowed" [data]="listOfSlides[i]" [checkboxShowed]="'unchecked'"
                            [actionsShowed]="false" [timerShowed]="true"
                            (countdownEnded)="handleCountdownEnded(listOfSlides[i])"></project-slide>
                        <project-slide *ngIf="answersShowed" [data]="listOfSlides[i]" [checkboxShowed]="'default'"
                            [actionsShowed]="false"></project-slide>
                    </ng-container>
                </div>
                <div *ngIf="answersShowed" class="buttons-container">
                    <button *ngIf="isMultipleChoice" class="mindsync-btn mindsync-btn-secondary"
                        (click)="openStatisticsPopup()">Statistics</button>
                    <ng-container [ngSwitch]="this.currentSlideIndex">
                        <button *ngSwitchCase="this.listOfSlides.length - 1" class="mindsync-btn mindsync-btn-primary"
                            (click)="addScreenshotToList()">Finish</button>
                        <button *ngSwitchDefault class="mindsync-btn mindsync-btn-primary"
                            (click)="addScreenshotToList()">Next
                            slide</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>