.foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.mindsync-default-content-heading {
  padding: 0;
}

.mindsync-btn {
  margin: 0 0 14px 0;
  padding: 12px 24px;
}

img {
  width: 600px;
  height: 400px;
}
