<div class="mindsync-default-container">
    <div class="mindsync-default-content-container start-show-container">
        <div class="mindsync-default-content-heading">Wait till attendees join</div>
        <div class="mindsync-default-content-data">
            <h2>Code to join: {{code}}</h2>
            <h2>{{attendees.length}} attendees</h2>
            <mat-spinner></mat-spinner>
            <ng-container *ngIf="attendees.length>0">
                <div *ngFor="let attendee of attendees" class="d-flex mt-2 mb-2">
                    <mat-icon>person_outline</mat-icon>{{ attendee.name }} {{ attendee.surname }}
                </div>
                <button class="mindsync-btn mindsync-btn-secondary">Start show</button>
            </ng-container>
        </div>
    </div>
</div>