@import '../../../../../libs/ui/src/lib/_variables.scss';

.main-presentation-container {
  width: 80%;
}

.mindsync-default-content-data {
  padding: 10px 40px;
}

.container-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container-details {
  display: flex;
  gap: 70px;
}

.buttons-container {
  display: flex;
  gap: 40px;
}

.details-section {
  display: flex;
  align-items: center;
}

p {
  font-size: larger;
  font-weight: 700;
  margin-right: 10px;
}

.carousel-main-container {
  width: 100%;
}
