<div class="mindsync-default-container">
    <div class="mindsync-default-content-container main-presentation-container">
        <div class="mindsync-default-content-heading">
            Presentation title
        </div>
        <div class="mindsync-default-content-data">
            <div class="container-navigation">
                <div class="container-details">
                    <div class="details-section">
                        <p>Code: </p>
                        <p>123456</p>
                    </div>
                    <div class="details-section">
                        <p>Created At: </p>
                        <p>23-03-2023</p>
                    </div>
                </div>
                <div class="buttons-container">
                    <button class="mindsync-btn mindsync-btn-secondary">Remove slide</button>
                    <button class="mindsync-btn mindsync-btn-primary">Add slide</button>
                </div>
            </div>
            <div class="carousel-main-container">
                <project-shared-carousel [slideConfig]="slideConfig" [data]="slides"
                    [slideType]="'Slide'"></project-shared-carousel>
            </div>

        </div>
    </div>
</div>