<div class="mindsync-default-container">
    <div class="mindsync-default-content-container main-presentation-container">
        <div class="mindsync-default-content-heading">
            {{ presentation.title }}
        </div>
        <div class="mindsync-default-content-data">
            <div class="container-navigation">
                <div class="container-details">
                    <div class="details-section">
                        <p>Code: </p>
                        <p>{{ presentation.code }}</p>
                    </div>
                    <div class="details-section">
                        <p>Created At: </p>
                        <p>{{ StringFormatter.getDateFromISOString(presentation.createdAt ?? '') }}</p>
                    </div>
                </div>
                <div class="buttons-container">
                    <button class="mindsync-btn mindsync-btn-secondary"
                        (click)="openDeletePresentationPopup()">Delete</button>
                    <button class="mindsync-btn mindsync-btn-primary">Add slide</button>
                </div>
            </div>
            <div class="carousel-main-container">
                <project-shared-carousel *ngIf="(listOfSlides$ | async) as slides" [slideConfig]="slideConfig"
                    [data]="slides" [slideType]="'Slide'"></project-shared-carousel>
            </div>

        </div>
    </div>
</div>